/proyecto/CreadorDeExamenes/nbproject/private/
/proyecto/CreadorDeExamenes/build/
/proyecto/CreadorDeExamenes/dist/
proyecto/CreadorDeExamenes/src/Data/aria_log.00000001
*.00000001
proyecto/CreadorDeExamenes/src/Data/aria_log.00000001
